{% extends 'base.html.twig' %}

{% block title %}{{ article.translation.title }}{% endblock %}

{% block stylesheets %}
    {% if app_env|lower == 'dev' or app_env|lower == 'prod' %}
        <link href="{{ asset('node_modules/lightbox2/dist/css/lightbox.min.css') }}" rel="stylesheet"/>
    {% else %}
        <link href="{{ asset('node_modules/lightbox2/dist/css/lightbox.css') }}" rel="stylesheet"/>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {% if app_env|lower == 'dev' or app_env|lower == 'prod' %}
        <script src="{{ asset('node_modules/lightbox2/dist/js/lightbox.min.js') }}"></script>
    {% else %}
        <script src="{{ asset('node_modules/lightbox2/dist/js/lightbox.js') }}"></script>
    {% endif %}
{% endblock %}
{#{% block breadcrumbs %}#}
{#    <ul>#}
{#        <li>#}
{#            <a href="/" class="home">Home</a>#}
{#        </li>#}
{#        <li>#}
{#            <a href="/{{ menuItem.slug }}">{{ article.translation.title }}</a>#}
{#        </li>#}
{#    </ul>#}
{#{% endblock %}#}


{% block metadata %}
    <meta name="robots" content="index, follow">
{#    {% set metadata = article.translation.metadata|json_decode(constant('JSON_OBJECT_AS_ARRAY')) %}#}
    {% if metadata.title is defined %}
        <meta name="title" content="{{ metadata.title }}">
    {% endif %}
    {% if metadata.description is defined %}
        <meta name="description" content="{{ metadata.description }}">
    {% endif %}
    {% if metadata.keywords is defined %}
        <meta name="keywords" content="{{ metadata.keywords }}">
    {% endif %}
    {% if metadata['og:title'] is defined %}
        <meta name="og:title" content="{{ metadata['og:title'] }}">
    {% endif %}
    {% if metadata['og:type'] is defined %}
        <meta name="og:type" content="{{ metadata['og:type'] }}">
    {% endif %}
    {% if metadata['og:url'] is defined %}
        <meta name="og:url" content="{{ metadata['og:url'] }}">
    {% endif %}
    {% if metadata['og:description'] is defined %}
        <meta name="og:description" content="{{ metadata['og:description'] }}">
    {% endif %}
    {#    <meta name="og:locale" content="cs">#}
    {#    <meta name="og:type" content="product">#}
    {#    <meta property="og:url" content="{{ app.request.uri }}">#}
    {#    <meta property="og:description" content="{{ productVariantTranslation.descriptionOverWrite ? productVariantTranslation.description|striptags|raw : productTranslation.description|striptags|raw }}">#}
{% endblock %}

{% block body %}
    {{ article.translation.content|raw }}
{% endblock %}
