

{% block body %}
    <div class="popup">
        <div class="close">
            <i class="close-btn fa fa-times"></i>
        </div>
        <div class="popup-header">
            <h2>
            {{ article.translation.title }}
            </h2>
            <hr>
        </div>
        <div class="popup-content nice-scroll">
            {{ article.translation.content|raw }}
        </div>
    </div>
{% endblock %}
